.watts-validation-icon {
	vertical-align: middle;
	margin-left: 10px;
}

.watts-validation-icon-small {
	width: 20px;
	height: 20px;
}

.watts-validation-icon-medium {
	width: 25px;
	height: 25px;
}

.watts-validation-icon-large {
	width: 30px;
	height: 30px;
}

.watts-valid + .watts-validation-icon {
	fill: #60b66d;
}

.watts-not-valid + .watts-validation-icon {
	fill: #c15054;
}
